

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #14161C;
}

.heading-primary {
  color: #EEF1F7;
  margin-bottom: 6.5rem;
  font-size: 4.8rem;
  font-weight: 900;
}

.heading-primary--main-name {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.instructions, .win{
 color: #EEF1F7;
 font-size: 1.5rem;
 margin-block: 5rem;
}

.thanks {
  color: #EEF1F7;
  font-size: 1rem;
  text-align: center;
}

a {
  color: #EEF1F7;
  font-size: 1rem;
}

.maze {
    display: grid;
    justify-content: center;
    align-items: center;

}

.cell {
  position: relative;
    width: 8rem;
    height: 8rem;
}

.wall { background-image: 
    url(../assets/img/star-wars-chibi-stormtrooper.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.floor {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.floor::before {
  content: "";
  position: absolute;
  inset: 1rem;

  background: url("../assets/img/logo.png") center / contain no-repeat;
  opacity: 0.3;
  z-index: 0;
}
  
.player { background-image:
    url(../assets/img/Star_Wars_White_Chibe_Line_Up_by_masterbarkeep.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.bounty { background-image:
    url(../assets/img/Millenium.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.cloud { background-image:
    url(../assets/img/cloud.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
} 

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.5rem;
}

.itemP1 {
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 5;
  color: red;

}

.btn{
  font-size: "Audiowide", sans-serif;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  /*le lien est un élément inline, il ne se positionnera pas correctement si on ne le fait pas passer en inline-block*/
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; /*on rech une position relative après le bouton pour after*/
  font-size: 1.7rem;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block; /*même chose que la propriété du lien ici*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute; /*positionné par rapport au premier élément positionné il faut lui donner une référence*/
  top: 0;
  left: 0;
  z-index: -1; /*pour le positionner sous le bouton.*/
  transition: all 0.4s;
}

.btn--gallery {
  font-family: "poppins";
  color: #EEF1F7;
  background: linear-gradient(90deg, rgba(159, 170, 249, 0.2), rgba(238, 241, 247, 0.2));
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  padding: 0.2rem 1rem;
  gap: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(11, 12, 19, 0.2);
  border: none;
}

.header {
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  z-index: 1000;
}
.header__nav-button {
  background: linear-gradient(90deg, #0B0C13 0%, #1A1E28 60%);
  background-size: 140% 160%;
  background-repeat: no-repeat;
  background-position: 10% 0;
  width: 100%;
  height: 70%;
  text-align: center;
  padding-top: 40%;
}
.header__reset {
  background: linear-gradient(90deg, #0B0C13 0%, #1A1E28 60%);
  background-size: 140% 160%;
  background-repeat: no-repeat;
  background-position: 10% 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.game-board {
  background: linear-gradient(to right, #0E29E6, #0B0C13 80%);
  min-height: 100vh;
  width: 80%;
  z-index: 1;
  color: #EEF1F7;
}

.nav-button {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  justify-content: center;

}

#up {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;  
}

#down {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center; 
}

#left{
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center; 
}

#right {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: center; 
}

.arrow {
  fill: #EEF1F7;
  margin: 0;
  padding: 0;
  width: 3.5rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-top-XXL {
  margin-top: 15rem;
}